*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-dark: rgb(22,29,34);
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-item{
    width: 300px;
}
.game-category{
    background: rgb(19, 25, 29);
}
.hero-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
    background: inherit !important;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(1.9) contrast(0.7) blur(10px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);;
    font-size: 1.2rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: #ffffff;
    font-size: 1.5rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    line-height: 1.4;
    word-spacing: 100vw;
}
/* game category design */
.embed__container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed__container {
    position: relative;
    padding-bottom: 56%;
    width: 100%;
    text-align: left;
    background-color: #000000;
}

.embed__container iframe {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
}

#player {
    width: 100%;
}

.owl-nav>div {
    margin-top: -20px;
    position: absolute;
    top: 45%;
    color: #d8d8d8;
    padding: 0px;
    width: 46px;
    display: initial;
    height: 46px;
    border-radius: 50px;
    background: #060606a8;
}

.owl-nav>div:hover {
    color: #ffffff;
    background: #000000;
}

.owl-nav>div.disabled {
    color: #ffffff00;
    background: #63636300;
}

.owl-nav>div.disabled {
    color: #ffffff00;
    background: #63636300;
}

.owl-nav i {
    font-size: 20px;
    margin: 13px 18px;
}

.owl-nav .owl-prev {
    left: -23px;
}

.owl-nav .owl-prev i:hover {
    transition: all 0.3s ease-in-out;
}

.owl-nav .owl-next i:hover {
    transition: all 0.3s ease-in-out;
}

.owl-nav .owl-next {
    right: -23px;
}


.owl-carousel .owl-item .video-thumb.active:before {
    opacity: 1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    left: 0;
    top: 0;
    background: rgba(68, 65, 61, 0.75);
    z-index: 1;
    transition: all 250ms ease-out;
}

.owl-carousel .owl-item .video-thumb:not(.active):hover:before {
    opacity: 1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    left: 0;
    top: 0;
    background: rgba(68, 65, 61, 0.75);
    z-index: 1;
    transition: all 1s ease-out;
}

.video-thumb:not(.active):hover:before {
    background: rgba(247, 148, 30, 0.30);
}

.video-thumb:after {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    top: 50%;
    left: 50%;
    margin: -0.458em 0 0 -0.500em;
    color: rgba(255, 255, 255, 0);
    font-size: 2em;
    line-height: 1;
    position: absolute;
    font-weight: 900;
    transition: all 250ms ease-out;
}

.video-thumb.active:after {
    color: rgba(255, 255, 255, 1);
}

.owl-carousel .owl-item img {
    position: relative;
}

#player .ytp-expand-pause-overlay .ytp-pause-overlay {
    display: none !important;
}

#playerWrap {
    display: inline-block;
    position: relative;
}

#playerWrap.shown::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px 64px;
    background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==);
}

.loading__text__player {
    left: 50%;
    top: 50%
}
.video-playlist{
    background: rgb(19, 25, 29);
}
.video-playlist .container{
    height: auto !important;
}
.video-details .col-12{
    padding: 15px;
    border: 1px solid rgb(47, 47, 47);
    background: linear-gradient(to right,rgb(17, 23, 27),rgb(30, 34, 37))
}

.video-playlist .col-12 h4{
    font-family: 'Rubik', sans-serif;
    color: #bfbfbf;
    font-size: 1.35em;
}
.video-playlist h2{
    font-size: 3em;
}
.tuned{
    font-size: 1.15em;
    color:rgb(221, 53, 15);
}